<%- include('parts/header.ejs') %>

<style>
    .container {
        width: 100%;
        height: 100vh;
        background-color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container_login {
        background-color: #FFF;
        border: 1px solid #DDD;
        border-radius: 0px 10px 10px 10px;
        box-shadow: inset 5px 5px 5px #DDD5;
        width: 300px;
        position: relative;
        height: 20rem;
        color: #444;
    }

    @media (max-width: 800px) {
        .container_login {
            width: 100%;
            height: 50vh;
        }
    }

    .form_login {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        flex-direction: column;
    }

    .ct_form {
        padding: 60px 0;
    }

    .title-card {
        font-size: 18px;
        padding: 20px 0;
        border-bottom: 1px solid #DDD;
    }

    .align_center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login {
        display: flex;
        flex-direction: column;
    }

    .container_button {
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 10;
        left: 0;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .btn_logar {
        width: 50%;
        height: 40px;
    }
</style>

<div class="container">
    <div class="ui placeholder segment">
        <div class="ui two column very relaxed stackable grid">
          <div class="column" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <div class="header" style="position: absolute; top: 10px; line-height: 1.3; font-size: 20px; text-align: center;">Insira seu código </br> de </br> administrador</div>
            <div class="ui form">
            <form action="/authenticate" method="POST">
              <div class="field">
                <label>Código de ADM</label>
                <div class="ui left icon input">
                    <input type="password" name="senha_acesso" placeholder="Código de ADM" required>
                  <i class="lock icon"></i>
                </div>
              </div>
              <div class="container_button">
                <button type="submit" class="ui right labeled icon button blue btn_logar">
                    <i class="right arrow icon"></i>
                    Logon 
                </button>
            </div>
            </form>
            </div>
          </div>
          <div class="middle aligned column">
              <div class="img">
                <img style="width: 100%; height: 100%" src="https://media-exp1.licdn.com/dms/image/C4D22AQG6Uj9DnAII4w/feedshare-shrink_800/0/1624121390601?e=1626912000&v=beta&t=tw-5JqSMfMg3Ra4bgg0xavkk_5LmmYQNBekCe1c_Ge8">
              </div>
          </div>
        </div>
        <div class="ui vertical divider">
        </div>
      </div>
</div>

<%- include('parts/footer.ejs') %>
