<%- include('../parts/header.ejs') %>

    <div class="ui container">
        <br>
        <form class="ui form" action="/departamento/update" method="POST">
            <div class="field">
                <label>Adicionar Departamento</label>
                <input class="form-control" type="hidden" name="departamento_id"
                    value="<%=departamento.departamento_id %>" required>
                <input class="form-control" type="text" name="departamento_nome"
                    value="<%=departamento.departamento_nome %>" required>
            </div>
            <a class="ui button" href="/departamentos">Voltar</a>
            <button class="ui button green" type="submit">Registrar Departamento</button>
        </form>
    </div>

    <%- include('../parts/footer.ejs') %>