<%- include('../parts/header.ejs') %>

<div class="ui container">
    <br>
    <form class="ui form" action="/departamento/save" method="POST">
        <div class="field">
            <label>Adicionar Departamento</label>
            <input type="text" name="departamento_nome" placeholder="Nome do Departamento" required>
        </div>
        <a class="ui button" href="/departamentos">Voltar</a>
        <button class="ui button green" type="submit">Registrar Departamento</button>
    </form>
</div>

<%- include('../parts/footer.ejs') %>
