<div class="ui secondary pointing menu">
    <div class="ui container">
        <a class="item" href="/departamentos">
            Departamentos
        </a>
        <a class="item" href="/funcoes">
            Funções
        </a>
        <a class="item" href="/funcionarios">
            Funcionários
        </a>
        <div class="right menu">
            <a class="ui item">
                <div class="ui horizontal list">
                    <div class="item">
                        <img class="ui mini circular image" src="https://semantic-ui.com/images/avatar2/small/molly.png">
                        <div class="content">
                            <div class="ui sub header">BIA</div>
                            Coordinator
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>