<style>
    .menu-drop .itemlink {
        padding: 0;
        margin: 0;
        text-decoration: none;
        color: #333;
        border: 0;
    }
    
    .link {
        color: red;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 550;
        font-size: 15px;
        margin: 0;
    }
    
    .link:hover {
        color: red;
    }
</style>

<div class="ui secondary pointing menu" style="height: 50px;">
    <div class="ui container">
        <a class="item" href="/departamentos">
            Departamentos
        </a>
        <a class="item" href="/funcoes">
            Funções
        </a>
        <a class="item" href="/funcionarios">
            Funcionários
        </a>
        <a class="item" href="/relatorios">
            Relatórios
        </a>
        <div class="right menu">
            <a class="ui item">
                <a href="logout" class="link"><i class="circular inverted red reply icon"></i>Sair</a>
            </a>
        </div>
    </div>
</div>
