<%- include('../parts/header.ejs') %>

<div class="ui container">
    <br>
    <form class="ui form" action="/funcoes/save" method="POST">
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <label>Criar nova função</label>
                    <input type="text" name="funcao_nome" placeholder="Nome da Função" required>
                </div>
                <div class="field">
                    <label>Selecionar Departamento:</label>
                    <select class="ui fluid dropdown" name="funcao_departamento">
                        <% departamentos.forEach((departamento) => { %>
                            <option value="<%=departamento.departamento_id %>"><%=departamento.departamento_nome %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="field">
                    <label>Vagas:</label>
                    <input type="text" name="funcao_vagas" placeholder="Quantidade de Vagas" required>
                </div>
            </div>
        </div>
        <a class="ui button" href="/funcoes">Voltar</a>
        <button class="ui button green" type="submit">Registrar Departamento</button>
    </form>
</div>

<%- include('../parts/footer.ejs') %>
