<%- include('../parts/header.ejs') %>

<div class="ui container">
    <br>
    <form class="ui form" action="/funcionario/save" method="POST">
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <label>Nome Completo:</label>
                    <input type="text" name="funcionario_nomeCompleto" placeholder="Nome Completo" required>
                </div>
                <div class="field">
                    <label>Funções:</label>
                    <select name="funcionario_funcao">
                        <% funcoes.forEach(funcao=> { %>
                            <option value="<%=funcao.funcao_id %>">
                        <%=funcao.funcao_nome %>
                            </option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <input type="date" name="funcionario_dataAdmissao" required><br>
                </div>
                <div class="field">
                    <input type="text" name="funcionario_salario" placeholder="Salário do Funcionário" required><br>
                </div>
                <div class="field">
                    <select name="funcionario_sexo" id="sexo" onchange="mostrarReservista()">
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                    </select>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <input type="email" name="funcionario_email" placeholder="Email do Funcionário" required><br>
                </div>
                <div class="field">
                    <input type="text" name="funcionario_telefone" placeholder="Telefone do Funcionário" required><br>
                </div>
            </div>

            <h4 class="ui dividing header">Endereço</h4>
            <div class="three fields">
                <div class="field">
                    <input type="text" minlength="8" maxlength="8" name="endereco_cep" placeholder="CEP" required>
                </div>
                <div class="field">
                    <input type="text" name="endereco_bairro" placeholder="Bairro" required><br>
                </div>
                <div class="field">
                    <input type="text" name="endereco_rua" placeholder="Endereço" required><br>
                </div>
                <div class="field">
                    <input type="number" name="endereco_numero" placeholder="Número" required>
                </div>
            </div>
            <h4 class="ui dividing header">RG</h4>
            <div class="three fields">
                <div class="field">
                    <label>Número do RG</label>
                    <input class="form-control" type="text" minlength="7" maxlength="7" name="rg_numero" required><br>
                </div>
                <div class="field">
                    <label>Órgão Expedidor</label>
                    <input class="form-control" type="text" name="rg_orgaoExpedidor" required><br>
                </div>
                <div class="field">
                    <label>RG Data de Expedição:</label>
                    <input class="form-control" type="date" name="rg_dataExpedicao" required>
                </div>
            </div>

            <div class="three fields">
                <div class="field">
                    <label>Naturalidade:</label>
                    <input class="form-control" type="text" name="rg_naturalidade" required><br>
                </div>
                <div class="field">
                    <label>Data de Nascimento:</label>
                    <input class="form-control" type="date" name="rg_dataNascimento" required><br>
                </div>
                <div class="field">
                    <label>Filiação:</label>
                    <input class="form-control" type="text" name="rg_filiacao" required>
                </div>
            </div>

            <h4 class="ui dividing header">Documentos</h4>
            <div class="three fields">
                <div class="field">
                    <label>CPF</label>
                    <input class="form-control" type="text" minlength="11" maxlength="11" name="cpf_numero" placeholder="Número do CPF" required>
                </div>
                <div class="field">
                    <label >SUS</label>
                    <input class="form-control" type="text" minlength="15" maxlength="15" name="sus_numero" placeholder="Número do SUS" required>
                </div>
            </div>
    
            <h4 class="ui dividing header">Título de Eleitor</h4>
            <div class="three fields">
                <div class="field">
                    <input class="form-control" type="text" minlength="12" maxlength="12" name="titulo_numeroInscricao" placeholder="Número de Inscrição" required><br>
                </div>
                <div class="field">
                    <input class="form-control" type="text" minlength="3" maxlength="3" name="titulo_zona" placeholder="Zona" required><br>
                </div>
                <div class="field">
                    <select name="titulo_uf">
                        <option value="Acre">Acre</option>
                        <option value="Alagoas">Alagoas</option>
                        <option value="Amapá">Amapá</option>
                        <option value="Amazonas">Amazonas</option>
                        <option value="Bahia">Bahia</option>
                        <option value="Ceará">Ceará</option>
                        <option value="Distrito Federal">Distrito Federal</option>
                        <option value="Espírito Santo">Espírito Santo</option>
                        <option value="Goiás">Goiás</option>
                        <option value="Maranhão">Maranhão</option>
                        <option value="Mato Grosso">Mato Grosso</option>
                        <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                        <option value="Minas Gerais">Minas Gerais</option>
                        <option value="Pará">Pará</option>
                        <option value="Paraíba">Paraíba</option>
                        <option value="Paraná">Paraná</option>
                        <option value="Pernambuco">Pernambuco</option>
                        <option value="Piauí">Piauí</option>
                        <option value="Rio de Janeiro">Rio de Janeiro</option>
                        <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                        <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                        <option value="Rondônia">Rondônia</option>
                        <option value="Roraima">Roraima</option>
                        <option value="Santa Catarina">Santa Catarina</option>
                        <option value="São Paulo">São Paulo</option>
                        <option value="Sergipe">Sergipe</option>
                        <option value="Tocantins">Tocantins</option>
                    </select>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Título Município</label>
                    <input class="form-control" type="text" name="titulo_municipio" required><br>
                </div>
                <div class="field">
                    <label>Título de Eleitor Data de Emissão:</label>
                    <input class="form-control" type="date" name="titulo_dataEmissao" required>
                </div>
            </div>
    
            <h4 class="ui dividing header">Carteira de Trabalho</h4>
            <div class="three fields">
                <div class="field">
                    <input class="form-control" type="text" minlength="7" maxlength="7" name="ctps_numero" placeholder="CTPS Número" required><br>
                </div>
                <div class="field">
                    <input class="form-control" type="text" minlength="4" maxlength="4" name="ctps_serie" placeholder="CTPS Série" required><br>
                </div>
                <div class="field">
                    <select class="form-control" name="ctps_uf">
                        <option value="Acre">Acre</option>
                        <option value="Alagoas">Alagoas</option>
                        <option value="Amapá">Amapá</option>
                        <option value="Amazonas">Amazonas</option>
                        <option value="Bahia">Bahia</option>
                        <option value="Ceará">Ceará</option>
                        <option value="Distrito Federal">Distrito Federal</option>
                        <option value="Espírito Santo">Espírito Santo</option>
                        <option value="Goiás">Goiás</option>
                        <option value="Maranhão">Maranhão</option>
                        <option value="Mato Grosso">Mato Grosso</option>
                        <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                        <option value="Minas Gerais">Minas Gerais</option>
                        <option value="Pará">Pará</option>
                        <option value="Paraíba">Paraíba</option>
                        <option value="Paraná">Paraná</option>
                        <option value="Pernambuco">Pernambuco</option>
                        <option value="Piauí">Piauí</option>
                        <option value="Rio de Janeiro">Rio de Janeiro</option>
                        <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                        <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                        <option value="Rondônia">Rondônia</option>
                        <option value="Roraima">Roraima</option>
                        <option value="Santa Catarina">Santa Catarina</option>
                        <option value="São Paulo">São Paulo</option>
                        <option value="Sergipe">Sergipe</option>
                        <option value="Tocantins">Tocantins</option>
                    </select>            
                </div>
            </div>

            <div id="reservista">
                <h4 class="ui dividing header">Reservista</h4>
                <div class="three fields">
                    <div class="field">
                        <input class="form-control" id="ra" type="text" minlength="12" maxlength="12" name="reservista_ra" placeholder="Reservista RA" required><br>
                    </div>
                </div>
            </div>

            <h4 class="ui dividing header">Informações Bancárias</h4>
            <div class="three fields">
                <div class="field">
                    <input class="form-control" type="text" minlength="4" maxlength="4" name="banco_agencia" placeholder="Número da Agência" required><br>
                </div>
                <div class="field">
                    <input class="form-control" type="text" minlength="3" maxlength="3" name="banco_tipoConta" placeholder="Numero de Operação" required><br>
                </div>
                <div class="field">
                    <input class="form-control" type="text" minlength="9" maxlength="9" name="banco_numeroConta" placeholder="Número da Conta" required>
                </div>
            </div>
        </div>
        <a class="ui button" href="/funcionarios">Voltar</a>
        <button class="ui button green" type="submit">Registrar</button>
    </form>
    <br>
</div>

<%- include('../parts/footer.ejs') %>

<script>
    function mostrarReservista() {
        var sexo = document.getElementById('sexo').value;
    
        if (sexo != 'Masculino') {
            document.getElementById('reservista').style.display = 'none';
            document.getElementById('ra').required = false;
            document.getElementById('localNascimento').required = false;
            document.getElementById('dataNascimento').required = false;
        } else {
            document.getElementById('reservista').style.display = 'block';
            document.getElementById('ra').required = true;
            document.getElementById('localNascimento').required = true;
            document.getElementById('dataNascimento').required = true;
        }
    }
</script>
